# Unreal Engine generated folders
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.vscode/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Visual Studio / Rider
.idea/
*.user

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Compiled binaries
*.exe
*.dll
*.lib
*.pdb
*.so
*.dylib

# Local build/install logs
*.log
